#start {
    position: absolute;
    outline: none;
    left: 50%;
}

.btn:focus {
    outline: none;
}

button:focus {
    outline: none;
}

#md1 {
    width: 85%;
}

#md2 {
/*    margin-left: 40%;*/
    width: 50%;
}

#mc1 {
    height: 789.3px;
}

.head-chat {
    width: 100%;
    height: 10%;
}

.diffbtns {
    width: 35%;
    padding-top: 2%;
}

.fas {
    font-size: 25px;
}

.info-open-channel {
    position: absolute;
    margin-left: 37%;
    top: 3%;
}

.info-open-channel .img-circle {
    width: 44px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.users-list {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    height: 52%;
    overflow: scroll;
}


.left-chat {
    width: 35%;
    height: 90%;
}

.container-fluid {
    height: 90%;
    overflow: scroll;
}

.container-fluid .img-circle {
    width: 44px;
}

.floctoid .name {
    font-size: 15px;
}

.floctoid .info {
    font-size: 12px;
    color: lightgreen;
}

.contact, .floctoid {
    border-radius: 25px; 
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/*
.contact:hover, .floctoid:hover {
    background: #f7f7f7;
}
*/

.main-chat {
    position: absolute;
    top: 10%;
    right: 0;
    width: 65%;
    height: 80%;
}

.message-field {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.message-field ul {
    outline: none;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.message-field ul > li {
    display: block;
    list-style: none;
    padding: 9px 16px;
    width: 100%;
}

.message-field ul > li .msg-text {
    position: relative;
    display: inline-block;
    background-color: #c1e1ff;
    color: #424141;
    font-size: 12px; 
    padding: 7px 24px 7px 7px;
    border-radius: 3px;
    white-space: normal;
    text-align: left;
    margin-left: 40px;
}

.message-field ul > li .msg-text:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 7px;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #c1e1ff;
    border-top: 6px solid transparent;
}

.message-field ul > li.other-msg .msg-text {
    background-color: #fefefe;
    color: #424141;
    margin-left: 0;
    margin-right: 40px;
}

.message-field ul > li.other-msg .msg-text:after {
    right: auto;
    left: -5px;
    border-left-width: 0;
    border-right: 5px solid #fefefe;
}

.message-field ul > li.my-msg {
    text-align: right;
}

.message-field ul > li.my-msg .msg-text {
    padding: 7px 8px;
}

.message-field .msg-text .btn {
    position: absolute;
    padding: 0;
    top: 0px;
    right: 3px;
}

.message-field .msg-text .fas {
    font-size: 15px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 10%;
}