#start {
    position: absolute;
    outline: none;
    left: 50%;
}

.btn:focus {
    outline: none;
}

button:focus {
    outline: none;
}

#md1 {
    width: 85%;
}

#md2 {
/*    margin-left: 40%;*/
    width: 50%;
}

#mc1 {
    height: 789.3px;
}

.head-chat {
    width: 100%;
    height: 10%;
}

.diffbtns {
    width: 35%;
    padding-top: 2%;
}

.fas {
    font-size: 25px;
}

.info-open-channel {
    position: absolute;
    margin-left: 37%;
    top: 3%;
}

.info-open-channel .img-circle {
    width: 44px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.users-list {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    height: 52%;
    overflow: scroll;
}


.left-chat {
    width: 35%;
    height: 90%;
}

.container-fluid {
    height: 90%;
    overflow: scroll;
}

.container-fluid .img-circle {
    width: 44px;
}

.floctoid .name {
    font-size: 15px;
}

.floctoid .info {
    font-size: 12px;
    color: lightgreen;
}

.contact, .floctoid {
    border-radius: 25px; 
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/*
.contact:hover, .floctoid:hover {
    background: #f7f7f7;
}
*/

.main-chat {
    position: absolute;
    top: 10%;
    right: 0;
    width: 65%;
    height: 80%;
}

.message-field {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.my-msg {
    margin-right: 3%;
}

.other-msg {
    margin-left: 3%;
}

.chat-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 10%;
}